[submodule "awesome-switcher"]
	path = awesome-switcher
	url = ../awesome-switcher.git
[submodule "redshift"]
	path = redshift
	url = ../awesome-redshift.git
[submodule "light"]
	path = light
	url = ../awesome-light.git
